body {
  background-color: white;
}
header {
  color: white;
  background-color: #2ba6cb;
  box-shadow: 0px 2px 2px #004080;
  padding: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}
canvas {
  padding: 5px;
  border: solid 2px #2ba6cb;
  // background-color: #2ba6cb;
  border-radius: 10px;
  box-shadow: 0px, 5px, 10px black;
}
#live {
  display: none;
}